# High level files
politystock_venv/
node_modules/

# Compiled Python files
__pycache__/
*.py[cod]
politystock_backend/politystock_backend/__pycache__
politystock_backend/politystock_api/__pycache__
politystock_backend/politystock_backend/__pycache__/settings.*
politystock_backend/politystock_backend/__pycache__/*
# Virtual environment
venv/
venv37/
.env

# Logs
*.log

# Media uploads
media/

# Compiled translations
*.mo

# Compiled static files
staticfiles/

# Temporary files
*.swp
.DS_Store
Thumbs.db
