# Compiled Python files
__pycache__/
*.py[cod]
politystock_scraper/migrations

# Virtual environment
venv/
venv37/
.env

# Logs
*.log

# Local database
db.sqlite3

# Media uploads
media/

# Compiled translations
*.mo

# Compiled static files
staticfiles/

# Temporary files
*.swp
.DS_Store
Thumbs.db